@page "/"
@using System.IO
@inject IJSRuntime JsRuntime

<TreeView SelectedItemChanged="SelectedChanged">
    <ModuleList ModuleDefinitions="AssemblyData.AssemblyDefinition.Modules"></ModuleList>
</TreeView>

@if (SelectedItem?.Value is TypeDefinition typeDefinition)
{
    <TypeDefinitionOptions Value="typeDefinition"></TypeDefinitionOptions>
}

<BR/>

<button class="btn btn-info" @onclick="SaveFile">Download Assembly</button>
@code {
    [CascadingParameter] public IAssemblyData AssemblyData { get; set; }

    public TreeItem SelectedItem { get; set; }
    private void SelectedChanged(TreeItem arg)
    {
        SelectedItem?.UnselectCallback();
        SelectedItem = arg;
    }


    public async Task SaveFile()
    {
        await using MemoryStream memoryStream = new MemoryStream();
        AssemblyData.AssemblyDefinition.Write(memoryStream, new WriterParameters());
        await FileUtil.SaveAs(JsRuntime, AssemblyData.FileEntry.Name, memoryStream.ToArray());
    }
}